html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


/* --- COMMON STYLES --- */


.hero-section,
.info-section,
.quote-section,
.action-section,
.footer-section,
button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 96px 15%;
}

.hero-section,
.footer-section {
    background-color: #1f2937;
}

button,
.header-logo,
.hero-title,
.action-text,
.footer-section {
    color: #f9faf8;
}

.info-title,
.quote-text,
.quote-author {
    color: #1f2937;
}

button,
.action-container {
    background-color: #3882f6;
    border: 0;
}

button,
.card-image,
.action-container {
    border-radius: 8px;
}

.hero-title,
.info-title {
    font-weight: 800;
}

a,
.hero-text,
.hero-image,
.action-subtext {
    color: #e5e7eb;
}

a,
.hero-text {
    font-size: 18px;
}

button,
.header-logo,
.quote-author,
.action-text {
    font-weight: 700;
}

.header-logo,
.quote-author,
.action-text {
    font-size: 24px;
}

button {
    padding: 8px 40px;
}


/* --- HERO SECTION --- */


.hero-section {
    gap: 72px;
    padding-top: 24px;
}

/* HEADER CONTAINER */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

/* HERO CONTAINER */

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
}

.hero-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    width: 50%;
}

.hero-title {
    font-size: 48px;
}

.hero-image {
    background-color: #868686;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}


/* --- INFO SECTION --- */


.info-section {
    gap: 72px;
}

.info-title {
    font-size: 36px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 0 10%;
}

.card-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-image {
    border: 3px solid #3882f6;
    height: 175px;
    width: 100%;
}

.card-text {
    text-align: justify;
    text-align-last: center;
}


/* --- QUOTE SECTION --- */


.quote-section {
    background-color: #e5e7eb;
    gap: 8px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 0 7.5%;
}

.quote-author {
    align-self: flex-end;
    padding-right: 10%;
}


/* --- ACTION SECTION --- */


.action-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 48px 0;
    width: 100%;
}

.action-box {
    display: flex;
    flex-direction: column;
}

.action-subtext {
    font-weight: 300;
}

.action-container button {
    border: 3px solid #f9faf8;
}


/* --- FOOTER SECTION --- */


.footer-section {
    padding: 24px 0;
}